body{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
    background-color: #6A5ACD;

}

header {
    background-color: #6A5ACD;
    color: white;
    padding: 20px;
    text-align: center;
}
body.container-main{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
    background-color: #6A5ACD;
}

.container-main {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

section {
    background-color: #6A5ACD; 
    color: white; 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 4px solid white; 
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 40px;
    color: #a8a8a8; 
}

button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 4rem;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    background-color: white;
    color: #6A5ACD;
}


.task-item {
    margin-right: 10px;
}


.small-delete-button {
    font-size: small;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none; 
    border-bottom: 1px solid white;
    border-radius: 4px;
    margin-left: 10px; 
}

.add-task h2 {
    font-size: 30px; 
}

.mark-as-done h2 {
    font-size: 30px; 
}

.task-details h2 {
    font-size: 30px;
}